/FlamingGoose/GooseEngine/GooseEngine/bin
/FlamingGoose/GooseEngine/GooseEngine_Test/bin
/FlamingGoose/GooseEngine/TestResults
/FlamingGoose/GooseEngine/GooseEngine_Test/obj
/FlamingGoose/GooseEngine/GooseEngine/obj
